doctype html
html
  head
    meta(charset="utf-8")
    title Production Scheduler
    link(rel="stylesheet", href="dhtmlx.css")
    link(rel="stylesheet", href="dhtmlxscheduler_flat.css")
    link(rel="stylesheet", href="production-scheduler.css")
    script(src="dhtmlx.js")
    script(src="dhtmlxscheduler.js")
    script(src="dhtmlxscheduler_agenda_view.js")
    script(src="dhtmlxscheduler_year_view.js")
    script(src="./production-scheduler.js")
  body
